<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Strava Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <style>
    .fadeout {
      -webkit-opacity: 0.25;
      -moz-opacity: 0.25;
      opacity: 0;
      -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease;
    }

    .map {
      height: 100vh;
      border: gray 1px dashed;
    }

    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/vendor/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="container">

  <div style="width:100%;">
    <canvas id="canvas"></canvas>
  </div>

  <script>
    var options = {
      responsive: true,
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      },
      tooltips: {
        mode: 'label',
        callbacks: {}
      },
      hover: {
        mode: 'dataset'
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Distance'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Altitude'
          },
          ticks: {
            suggestedMin: -10,
            suggestedMax: 250,
          }
        }]
      }
    };

    var data = {
      labels: ["178.83km", "179.23km", "179.27km", "179.42km", "179.46km", "179.92km", "180.39km", "180.48km", "180.59km", "180.61km", "180.97km", "180.99km", "181.07km", "181.17km", "181.25km", "181.33km", "181.35km", "181.53km", "181.57km", "181.58km", "181.68km", "181.74km", "181.79km", "181.87km", "181.94km", "182.05km", "182.1km", "182.16km", "182.25km", "182.26km"],
      datasets: [
        {
          label: "海拔",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [6.2, 8.0, 8.0, 7.4, 7.0, 8.3, 9.5, 9.4, 8.4, 6.6, 16.3, 17.8, 18.8, 16.9, 8.9, 5.2, 5.0, 5.2, 5.1, 5.2, 5.4, 5.0, 5.2, 5.5, 5.5, 5.9, 6.0, 6.0, 6.1, 6.0]
        }
      ]
    };

    var ctx = document.getElementById("canvas").getContext("2d");

    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });


    window.onload = function () {
      window.myLine = myLineChart;
    };

  </script>
</div>
<footer class="bs-docs-footer">
  All data comes from Strava by oauth2
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.alert-success').addClass('fadeout');
  });

</script>
</body>
</html>