<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Strava Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <style>
    .fadeout {
      -webkit-opacity: 0.25;
      -moz-opacity: 0.25;
      opacity: 0;
      -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease;
    }

    .map {
      height: 100vh;
      border: gray 1px dashed;
    }

    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/vendor/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="container">

  <div style="width:100%;">
    <canvas id="canvas"></canvas>
  </div>

  <script>
    var options = {
      responsive: true,
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      },
      tooltips: {
        mode: 'label',
        callbacks: {}
      },
      hover: {
        mode: 'dataset'
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Distance'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Altitude'
          },
          ticks: {
            suggestedMin: -10,
            suggestedMax: 250,
          }
        }]
      }
    };

    var data = {
      labels: ["212.98km", "213.02km", "213.04km", "213.16km", "213.21km", "213.27km", "213.36km", "213.44km", "213.49km", "213.6km", "213.67km", "213.72km", "213.86km", "213.89km", "213.9km", "213.92km", "213.93km", "213.96km", "213.97km", "214.02km", "214.1km", "214.11km", "214.12km", "214.21km", "214.24km", "214.26km", "214.28km", "214.32km", "214.41km", "214.53km", "214.69km", "214.78km", "214.9km", "214.96km", "215.05km", "215.12km", "215.18km", "215.21km", "215.26km", "215.28km", "215.3km", "215.36km", "215.42km", "215.46km", "215.49km", "215.53km", "215.57km", "215.62km", "215.66km", "215.7km", "215.8km", "215.95km", "215.97km", "216.0km", "216.03km", "216.06km", "216.13km", "216.14km", "216.2km", "216.21km", "216.34km", "216.39km", "216.41km", "216.48km", "216.49km", "216.54km", "216.59km", "216.65km", "216.69km", "216.69km"],
      datasets: [
        {
          label: "海拔",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [1.3, 2.8, 9.7, 3.8, 1.8, 6.5, 4.6, 17.2, 14.7, 9.5, 6.0, 7.0, 4.2, 4.1, 4.5, 4.7, 5.0, 5.7, 6.0, 7.1, 8.7, 8.9, 9.2, 8.7, 8.9, 7.6, 5.6, 5.9, 8.7, 8.5, 8.2, 9.2, 8.7, 7.6, 7.5, 7.1, 7.6, 7.0, 8.0, 8.0, 8.0, 8.7, 9.2, 8.7, 9.2, 9.4, 8.7, 8.9, 8.9, 8.7, 9.4, 8.7, 7.6, 7.9, 7.7, 7.6, 6.0, 5.5, 5.5, 5.6, 6.5, 6.4, 6.4, 6.1, 6.0, 5.9, 5.6, 5.6, 5.5, 5.4]
        }
      ]
    };

    var ctx = document.getElementById("canvas").getContext("2d");

    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });


    window.onload = function () {
      window.myLine = myLineChart;
    };

  </script>
</div>
<footer class="bs-docs-footer">
  All data comes from Strava by oauth2
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.alert-success').addClass('fadeout');
  });

</script>
</body>
</html>